body {
	background-color: #767f8e;
}
.appBox {
	background-color: white;
	width: 400px;
	height: 100%;
	margin: 40px;
	padding: 30px 30px 60px 30px;
	border-radius: 6px;
}
.x-pad {
	
	height: 10px;
	width: 10px;
	border-radius: 4px;
	float: right;
}
li {
	margin: 15px;
}
input {
	margin: 15px 15px 15px 15px;
}
.textArea {
	height: 37px;
	font-size: 1em;
}
